{% load digital_filters %}
<div id="modalProfilePic" class="modal fade modal-drop-pic" role="dialog">
  <div class="modal-dialog">
      <form enctype="multipart/form-data" action="" method="post" id="profile_pic_form" class="dropzone">
          {%csrf_token%}
          <input type="hidden" class="id_part" name="part" required="">
          <div class="dz-default dz-message"><span></span></div>
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <div><span class='ti-camera' style="font-size:3rem;"></span></div>
                    <div><span>Drop Picture</span></div>
                    <div class="progressBar">
                        <div class="progressBar-inner"></div>
                    </div>
                </div>
          <!-- <input type="submit" class="btn btn-success" value="Save" name="_save">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
            </div>
        </div>
     </form>
  </div>
</div>
