{% load digital_filters %}
{%load static%}
<div id="modalChartObsolete" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width:600px;">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-body">
            <img src="{%static 'digital/img/charts/obsolete-chart.jpg'%}" style="width:100%">
        </div>
    </div>
  </div>
</div>
<div id="modalChartLongtail" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width:600px;">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-body">
            <img src="{%static 'digital/img/charts/longtail-chart.jpg'%}" style="width:100%">
        </div>
    </div>
  </div>
</div>
<div id="modalChartShortage" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width:600px;">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-body">
            <img src="{%static 'digital/img/charts/shortage-chart.jpg'%}" style="width:100%">
        </div>
    </div>
  </div>
</div>
<div id="modalChartPex" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width:600px;">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-body">
            <img src="{%static 'digital/img/charts/pex-chart.jpg'%}" style="width:100%">
        </div>
    </div>
  </div>
</div>
