{% load digital_filters %}
<div id="modalPartColumns" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width:400px;">
    <!-- Modal content-->
    <div class="modal-content">
        <form id="form_part_columns" action="update-columns/" method="post" enctype="multipart/form-data">
            {%csrf_token%}
              <div class="modal-header" style="background-color:#003F71;color:#ffffff;">
                <input type="submit" class="btn btn-success show-wait" value="Save" name="_save" style="float:right;">
                <h4 class="modal-title"> <i class="fa fa-cube" style="margin-right:20px;font-size:2.3rem;"></i>Column Displayed</h4>
              </div>
              <div class="modal-body" style="background-color:#f5f5f5">
                  <div class="row">
                      <div class="col-xs-12">
                          {{formColumns.as_p}}
                      </div>
                  </div>

              </div>
              <div class="modal-footer">
                 <input type="submit" class="btn btn-success" value="Save" name="_save">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
          </form>
          </div>
    </div>
  </div>
</div>
