<div id="df-widget-btn" style="position: fixed; z-index: 9996; right: 0px; bottom: 0px; margin: 0px 20px 20px 0px;" class="hidden-xs-down">
    <a id="df-widget-btn-text" href="{% url 'quick-quote1' %}" style="padding: 0px 10px; float: left; background-color: rgb(255, 255, 255); border-radius: 4px; text-align: center; font-weight: bold; font-size: 16px; line-height: 25px; margin-top: 19px; text-transform: uppercase; font-family: Arial; cursor: pointer; box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 3px 1px;">
        <span style="position: relative; color: rgb(0, 0, 0);">Get a Quote !</span>
    </a>
    <div style="border-width: 4px; border-style: solid; border-color: transparent transparent rgb(255, 255, 255) rgb(255, 255, 255); margin-top: 28px; margin-left: -4px; transform: rotate(225deg); float: left; box-shadow: rgba(0, 0, 0, 0.3) -2px 2px 3px 0px;">
    </div>
    <a id="df-widget-btn-circle" href="{% url 'quick-quote1' %}" style="width: 60px; height: 60px; float: left; margin-left: 5px; background-color: rgb(196, 50, 53); border-radius: 50%; text-align: center; cursor: pointer; box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 3px 1px;">
        <img src="https://digifabster.com/static/img/cloud_btn.png" style="width: 38px; display: inline-block; margin-top: 16px;">
    </a>
</div>
