{% extends "quotation/base.html" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'quotation/css/carousel.css' %}" />
{% endblock stylesheets %}



{% block content %}
<div style="z-index:-1;height:100%;width:100%;position:absolute;top:0;left:0;background:url({% static 'quotation/img/technical-drawings.jpg'%});background-size:auto 180%;background-position:50% 80%;">
    <div class="dark-filter"></div>
</div>

<div class="d-flex justify-content-center align-items-center" style="width:100%;height:95vh">
    <h2 style="color:white;">Sorry, We couldn't find the page you are looking for :(</h2>
</div>
{% endblock content %}



{% block scripts %}

{% endblock scripts %}
