{%extends 'digital/base.html'%}
{% load static %}
{% load digital_filters %}
{%block content%}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Received</h4>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-3 text-center">
                                        <ul class="nav nav-pills nav-stacked fw-600" style="font-size:14px;">
                                            <li class="active"><a data-toggle="tab" href="#tab-team-notif" role="tab" aria-controls="tab-team-notif" aria-selected="true">Team</a></li>
                                            <li><a data-toggle="tab" href="#tab-sp3d-notif" role="tab" aria-controls="tab-sp3d-notif" aria-selected="false">Spare Parts 3D</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="tab-content notifications-container">
                                            <div class="tab-pane fade active in" id="tab-team-notif" role="tabpanel" aria-labelledby="Team Notifications">
                                                <div class="list-group" id="list-team-notif" role="tablist">
                                                    {%for notif in notifications%}
                                                    {% if notif.actor.organisation == user.organisation %}
                                                    <div class="notification list-group-item {%if notif.unread%}new-notif{%endif%}" data-notif-id="{{notif.id}}">
                                                        <div class="notif-header" data-toggle="collapse" href="#team-notif-{{notif.id}}" aria-expanded="false" aria-controls="team-notif-{{notif.id}}">
                                                            <i class="fa fa-fw {%if notif.unread%}fa-circle text-success{%else %}fa-circle-o{%endif%}"></i>
                                                            <span class="badge pull-right badge-{{notif.level}}">{{notif.timestamp|days_from_date}}</span>
                                                            <h5>
                                                                {{notif.actor.first_name}} {{notif.actor.last_name}} -
                                                                <span class="text-muted" style="font-size:12px">{{notif.verb}}</span>
                                                            </h5>
                                                        </div>
                                                        <div id="team-notif-{{notif.id}}" class="notif-detail collapse text-right" role="tabpanel" aria-labelledby="team-notif-{{notif.id}}" data-parent="#list-team-notif">
                                                            <p class="text-left">{{notif.description}}</p>
                                                            <btn class="btn btn-sm btn-success btn-icon btn-notif-team "
                                                                data-recipient="{{notif.actor.id}}"
                                                                data-verb="Team Message"
                                                                data-toggle="modal" data-target="#modalNotif">
                                                                Reply
                                                            </btn>
                                                        </div>
                                                    </div>
                                                    {%endif%}
                                                    {%endfor%}
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="tab-sp3d-notif" role="tabpanel" aria-labelledby="SP3D Notifications">
                                                <div class="list-group" id="list-sp3d-notif" role="tablist">
                                                    {%for notif in notifications%}
                                                    {% if notif.actor.organisation.name == "Spare Parts 3D" %}
                                                    <div class="notification list-group-item {%if notif.unread%}new-notif{%endif%}" data-notif-id="{{notif.id}}">
                                                        <div class="notif-header" data-toggle="collapse" href="#sp3d-notif-{{notif.id}}" aria-expanded="false" aria-controls="sp3d-notif-{{notif.id}}">
                                                            <i class="fa fa-fw {%if notif.unread%}fa-circle text-success{%else %}fa-circle-o{%endif%}"></i>
                                                            <span class="badge pull-right badge-{{notif.level}}">{{notif.timestamp|days_from_date}}</span>
                                                            <h5>
                                                                {{notif.actor.first_name}} {{notif.actor.last_name}} -
                                                                <span class="text-muted" style="font-size:12px">{{notif.verb}}</span>
                                                            </h5>
                                                        </div>
                                                        <div id="sp3d-notif-{{notif.id}}" class="notif-detail collapse text-right" role="tabpanel" aria-labelledby="sp3d-notif-{{notif.id}}" data-parent="#list-sp3d-notif">
                                                            <p class="text-left">{{notif.description}}</p>
                                                            <btn class="btn btn-sm btn-success btn-icon btn-notif-team "
                                                                data-recipient="{{notif.actor.id}}"
                                                                data-verb="Team Message"
                                                                data-toggle="modal" data-target="#modalNotif">
                                                                Reply
                                                            </btn>
                                                        </div>
                                                    </div>
                                                    {%endif%}
                                                    {%endfor%}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Sent</h4>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-3 text-center">
                                        <ul class="nav nav-pills nav-stacked fw-600" style="font-size:14px;">
                                            <li class="active"><a data-toggle="tab" href="#tab-team-snotif" role="tab" aria-controls="tab-team-snotif" aria-selected="true">Team</a></li>
                                            <li><a data-toggle="tab" href="#tab-sp3d-snotif" role="tab" aria-controls="tab-sp3d-snotif" aria-selected="false">Spare Parts 3D</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="tab-content notifications-container">
                                            <div class="tab-pane fade active in" id="tab-team-snotif" role="tabpanel" aria-labelledby="Team Notifications">
                                                <div class="list-group" id="list-team-snotif" role="tablist">
                                                    {%for notif in notifications_sent%}
                                                    {% if notif.recipient.organisation == user.organisation %}
                                                    <div class="notification list-group-item {%if notif.unread%}new-notif{%endif%}">
                                                        <div class="notif-header" data-toggle="collapse" href="#team-snotif-{{notif.id}}" aria-expanded="false" aria-controls="team-snotif-{{notif.id}}">
                                                            <i class="fa fa-fw {%if notif.unread%}fa-circle text-success{%else %}fa-circle-o{%endif%}"></i>
                                                            <span class="badge pull-right badge-{{notif.level}}">{{notif.timestamp|days_from_date}}</span>
                                                            <h5>
                                                                {{notif.recipient.first_name}} {{notif.recipient.last_name}} -
                                                                <span class="text-muted" style="font-size:12px">{{notif.verb}}</span>
                                                            </h5>
                                                        </div>
                                                        <div id="team-snotif-{{notif.id}}" class="notif-detail collapse text-right" role="tabpanel" aria-labelledby="team-snotif-{{notif.id}}" data-parent="#list-team-notif">
                                                            <p class="text-left">{{notif.description}}</p>
                                                            <btn class="btn btn-sm btn-success btn-icon btn-notif-team "
                                                                data-recipient="{{notif.recipient.id}}"
                                                                data-verb="Team Message"
                                                                data-toggle="modal" data-target="#modalNotif">
                                                                Message
                                                            </btn>
                                                        </div>
                                                    </div>
                                                    {%endif%}
                                                    {%endfor%}
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="tab-sp3d-snotif" role="tabpanel" aria-labelledby="SP3D Notifications">
                                                <div class="list-group" id="list-sp3d-snotif" role="tablist">
                                                    {%for notif in notifications_sent%}
                                                    {% if notif.recipient.organisation.name == "Spare Parts 3D" %}
                                                    <div class="notification list-group-item {%if notif.unread%}new-notif{%endif%}">
                                                        <div class="notif-header" data-toggle="collapse" href="#sp3d-snotif-{{notif.id}}" aria-expanded="false" aria-controls="sp3d-snotif-{{notif.id}}">
                                                            <i class="fa fa-fw {%if notif.unread%}fa-circle text-success{%else %}fa-circle-o{%endif%}"></i>
                                                            <span class="badge pull-right badge-{{notif.level}}">{{notif.timestamp|days_from_date}}</span>
                                                            <h5>
                                                                {{notif.recipient.first_name}} {{notif.recipient.last_name}} -
                                                                <span class="text-muted" style="font-size:12px">{{notif.verb}}</span>
                                                            </h5>
                                                        </div>
                                                        <div id="sp3d-snotif-{{notif.id}}" class="notif-detail collapse text-right" role="tabpanel" aria-labelledby="sp3d-snotif-{{notif.id}}" data-parent="#list-sp3d-notif">
                                                            <p class="text-left">{{notif.description}}</p>
                                                            <btn class="btn btn-sm btn-success btn-icon btn-notif-team "
                                                                data-recipient="{{notif.recipient.id}}"
                                                                data-verb="Team Message"
                                                                data-toggle="modal" data-target="#modalNotif">
                                                                Message
                                                            </btn>
                                                        </div>
                                                    </div>
                                                    {%endif%}
                                                    {%endfor%}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{%endblock content%}

{%block extrascript%}
{%include 'digital/utils/modal-notif.html'%}
<script src="{% static 'digital/js/notifications.js' %}?dev={% random_int %}"></script>
{%endblock extrascript%}
